h2 {
  color: rgb(30, 176, 128)
}

form {
  margin-bottom: 100px;
  border: 5px solid mediumaquamarine;
  padding: 10px;
  border-radius: 20px;
}

.inputContainer {
  margin-bottom: 20px;
}

.submitContainer {
  display: flex;
  justify-content: right;
}

p {
  font-weight: bold;
  margin: 0 0 5px;
}

input + label {
  margin-right: 10px;
}